@font-face {
    font-family: 'Risque'; 
    src: url('../font/Risque-Regular.ttf') format('truetype');
}

/*BODY*/
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    background-color:#726255;
    font-family: 'Risque', sans-serif;
    
}

/*HEADER*/
header {
    text-align: center;
}

#banner {
    background-image: url('../img/bg-banner.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 10px 10px 0px 0px;
}

#banner img {
    width: 30%;
    min-width: 300px;
}

#text-header {
    color: #ecb939;
    background-color: 	#372e29;
    padding: 1px;
    font-size: 30px;
}

/*NAV*/
nav {
    background-image: url('../img/bg-banner.jpg');
    background-size: cover;
    background-position: bottom center;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
}
.but-nav img {
    border: 2px solid 	#372e29;
    border-radius: 40px;
    padding: 5px;
    margin : 10px;
    box-shadow: 0 0 0 5px 	#726255, 0 0 0 10px 	#372e29;
    background-color: 	#726255;
    height: 60px;
}

.but-nav-acti img {
    border: 2px solid 	#372e29;
    border-radius: 40px;
    padding: 5px;
    margin : 10px;
    box-shadow: 0 0 0 5px 	#ecb939, 0 0 0 10px 	#372e29;
    background-color: 	#726255;
    height: 60px;
}

.but-nav img:hover {
    border: 2px solid 	#372e29;
    border-radius: 40px;
    padding: 5px;
    margin : 10px;
    box-shadow: 0 0 0 5px 	#ecb939, 0 0 0 10px 	#372e29;
}



/*MAIN*/
main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    flex:1;
}


/*MAIN INDEX*/

#index-h1 {
    background-color: #372e29;
    border-radius: 10px;
    margin: 30px;
    padding: 20px;
    box-shadow: 0 0 0 5px 	#ecb939, 0 0 0 10px 	#372e29;
    font-size: 50px;
    color: #ecb939;
    min-width: 300px;
}

#img-index {
    box-shadow: 0 0 0 5px 	#372e29, 0 0 0 10px 	#ecb939;
    border-radius: 200px;
    padding: 20px;
    background-color: #ecb939;
    min-width: 320px;
}
#img-index img{
    width: 300px;
    height: 300px;
    border: 4px solid 	#372e29;
    border-radius: 10px;
}

#nom-prenom {
    background-color: #372e29;
    border-radius: 10px;
    margin: 30px;
    padding: 20px;
    box-shadow: 0 0 0 5px 	#ecb939, 0 0 0 10px 	#372e29;
    font-size: 20px;
    white-space: pre-line;
    color: #ecb939;
    min-width: 300px;
}

#presentation {
    border-radius: 10px;
    padding: 20px;
    margin : 30px;
    background-color: #ecb939;
    box-shadow: 0 0 0 5px 	#372e29, 0 0 0 10px 	#ecb939;
    font-size: 20px;
    white-space: pre-line;
    color : #372e29;
    min-width: 300px;
}

/*MAIN ABOUT*/
#about-h1 {
    background-color: #372e29;
    border-radius: 10px;
    margin: 30px;
    padding: 20px;
    box-shadow: 0 0 0 5px 	#ecb939, 0 0 0 10px 	#372e29;
    font-size: 50px;
    color: #ecb939;
    min-width: 300px;
}

/*container des competences pour les mettres cote à cote*/
#container-comp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 30px 0px 30px;
    justify-content: space-around;
}

/*competence operatoires*/
#container-comp-op {
    border-radius: 10px;
    background-color: #ecb939;
    box-shadow: 0 0 0 5px 	#372e29, 0 0 0 10px 	#ecb939;
    font-size: 20px;
    color : #372e29;
    justify-items: center;
    width: 48%;
    margin-right: 3px;
    min-width: 300px;
    margin : 10px 0px 10px 0px;
}

#comp-op {
    text-align: left;
    width: 60%;
}

/*competences comportementales*/
#container-comp-co {
    border-radius: 10px;
    background-color: #ecb939;
    box-shadow: 0 0 0 5px 	#372e29, 0 0 0 10px 	#ecb939;
    font-size: 20px;
    color : #372e29;
    justify-items: center;
    width: 48%;
    margin-left: 3px;
    min-width: 300px;
    margin : 10px 0px 10px 0px;
}

#comp-co {
    text-align: left;
    width: 30%;
}

/*connaissances*/
#container-connais {
    background-color: #372e29;
    border-radius: 10px;
    margin: 30px auto 30px auto;
    padding: 20px;
    box-shadow: 0 0 0 5px 	#ecb939, 0 0 0 10px 	#372e29;
    font-size: 20px;
    color: #ecb939;
    justify-items: center;
    width: 30%;
    min-width: 300px;
}

#ontainer-connais table, td, th {
    border: 1px solid;
    padding: 5px;
    width: 100%;
    border-collapse: collapse;
}



/*MON PROJET*/
#job-h1 {
    background-color: #372e29;
    border-radius: 10px;
    margin: 30px;
    padding: 20px;
    box-shadow: 0 0 0 5px 	#ecb939, 0 0 0 10px 	#372e29;
    font-size: 50px;
    color: #ecb939;
    min-width: 300px;
}

#desc-metier {
    white-space: pre-line;
    border-radius: 10px;
    padding: 20px;
    margin : 30px;
    background-color: #ecb939;
    box-shadow: 0 0 0 5px 	#372e29, 0 0 0 10px 	#ecb939;
    font-size: 20px;
    white-space: pre-line;
    color : #372e29;
    min-width: 300px;
}

#interet {
    background-color: #372e29;
    border-radius: 10px;
    margin: 30px auto 30px auto;
    padding: 20px;
    box-shadow: 0 0 0 5px 	#ecb939, 0 0 0 10px 	#372e29;
    font-size: 20px;
    color: #ecb939;
    width: 40%;
    min-width: 300px;
    justify-items: center;
}

#liste-interet {
    text-align: left;
}

/*MAIN PASSIONS*/
#passions-h1 {
    background-color: #372e29;
    border-radius: 10px;
    margin: 30px;
    padding: 20px;
    box-shadow: 0 0 0 5px 	#ecb939, 0 0 0 10px 	#372e29;
    font-size: 50px;
    color: #ecb939;
    min-width: 300px;
}

/*Permet de faire une image en 300*300 px cliquable sans changer ses dimensions. Juste sa taille.*/
.fig-passion {
    width: 100%;
}
#main-passions figure {
    width: 300px;           /* Largeur fixe du fig en 300px */
    height: 300px;          /* Hauteur fixe du fig 300px */
    overflow: hidden;       /* Masque les parties de l'image qui débordent */
    position: relative;
    display : flex;
    margin: 0;
    align-items: center;    /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    border: 4px solid 	#372e29;
    border-radius: 10px;
}

.container-fig a {
    display: flex;
    justify-content: center;
    width: 300px;
    margin : 0px auto 0px auto;
} 

/*centre l'image*/
#main-passions img{
    position: absolute; 
}

/*Permettra de mettre le figcaption en avant*/
#main-passions figcaption {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 3px;
    text-align: center;
    z-index: +1;
    color: #ecb939;
    background-color: #372e29;
}

/*Ajustement de taille des images dans passions*/
#jeu-vid {
    scale: 0.5;
}

#jeu-role {
    scale:0.3;
}

#jap {
    scale: 0.33;
}

#film {
    scale: 0.4;
}

#cuisine {
    scale: 0.3;
}

/*organisation des passions*/
#container-passions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-fig {
    border-radius: 10px;
    background-color: #ecb939;
    box-shadow: 0 0 0 5px 	#372e29, 0 0 0 10px 	#ecb939;
    font-size: 20px;
    color : #372e29;
    justify-items: center;
    width: 30%;
    min-width: 300px;
    margin : 20px 0px 20px 0px;
}


/*FOOTER*/
footer {
    background-color: 	#372e29;
    color: #ecb939;
    text-align: center;
    padding: 1px 0;
    border-radius: 10px;
  }